*{	margin: 0;
	overflow: hidden;}

.osu {	font-size: 32px;
		color: rgb(255, 0, 204);}

.title {font-size: 32px;
		color: rgb(255, 255, 255);}

.sep {	font-size: 27px;
		color: rgb(255, 255, 255);}

.colorosu {color: rgb(255, 0, 204);}

.dl-all {	font-size: 15px;
			color: rgb(255, 255, 255);}
			
.dl-all:hover {color: rgb(65, 65, 65);}

.link {	font-size: 22px;
		color: rgb(255, 255, 255);}
		
.link:hover {color: rgb(65, 65, 65);}

.menu {
		font-size: 19px;
		color: rgb(255, 255, 255);}
		
.menu:hover {color: rgb(65, 65, 65);}


body {
	color: rgb(255, 255, 255);
	font-family: 'Montserrat';
	font-size: 21px;
	background-attachment: fixed;
	background: linear-gradient(-45deg, #1caa89, #1c85aa, #b93065, #be5f42);
	background-size: 350% 350%;
	animation: gradient 18s ease infinite;
	height: 100vh;
	display: grid;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.bglass {
	width: 22rem;
	height: 24rem;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .42); 
	border-radius: 7px;
	background-color: rgba(0, 0, 0, .42);
	backdrop-filter: blur(5px);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#content {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-shadow: 2px 2px #000;
}

a {
	text-decoration: none;
	transition: ease-in-out color 0.5s;
}